<!DOCTYPE html>
<html>
  <head>
    <title>Ccpj</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="main">
    <div class="wrapper wrapper--top-nav">
      <div class="wrapper-box">
        <div class="content">
          <div class="flex items-center mt-8">
            <h1 class="intro-y text-lg font-medium mr-auto">
              Inscripción - II CITC2022
            </h1>
          </div>

          <div class="intro-y box pb-10 sm:pb-20 mt-5">
            <div class="flex justify-center">
              <%= image_tag('logo.png', class: 'h-48') %>
            </div>
            <div class="px-5 mt-10">
              <div class="font-medium text-center text-lg">INSCRIPCIÓN</div>
              <div class="text-slate-500 text-center mt-2">II Congreso Internacional de Teoria Contable 2022.</div>
            </div>

            <%= yield%>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
